:root {
  /* //FONTS */
  --fontPrimary: 'Gotham Pro', sans-serif;
  --fontSecondary: 'Verdana', sans-serif;
  /* //COLORS */
  /* --buttonColor: #FC842D;
     --backgroundColor: #fd5103;
     --gray: #5f6775;
     --white: #fcfcfc;
     --auxOrange: #fe7031; */
}
